{% load blog_tags %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock title %}</title>
  <link href="{% static "css/blog.css" %}" rel="stylesheet">
</head>
<body>
  <div id="content">
    {% block content %}
    {% endblock content %}
  </div>
  <div id="sidebar">
    <h2>Custom Blog Site</h2>
    <p>Welcome to my Custom Blog Site. We currently host {% total_posts %} posts</p>
    <p><a href="{% url 'blog:post_feed' %}">Subscribe to RSS channel</a> </p>

    <h3>Latest Posts</h3>
    {% show_latest_posts 3 %}
    <h3>Most commented Posts</h3>
    {% get_most_commented_posts as most_commented_posts %}
    <ul>
      {% for post in most_commented_posts %}
      <li>
        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>

  </div>

</body>
</html>