{% extends 'blog/base.html' %}
{% load blog_tags %}

{% block title %}Custom Blog Site{% endblock title %}

{% block content %}
  <h1>Custom Blog</h1>
  {% if tag %}
    <h2>Posts with tag "{{ tag.name }}"</h2>
  {% endif %}
  {% for post in posts %}
    <h2>
      <a href="{{ post.get_absolute_url }}">
      {{ post.title }}
      </a>
      <p class="tags">Tags:
        {% for tag in post.tags.all %}
          <a href="{% url "blog:post_list_by_tag" tag.slug %}">
            {{ tag.name }}
          </a>
          {% if not forloop.last %}, {% endif %}
        {% endfor %}
      </p>
    </h2>
    <p class="date">
      Published {{ post.publish }} by {{ post.author }}
    </p>
    {{ post.body|markdown|truncatewords_html:30 }}
  {% endfor %}
  {% include 'blog/post/pagination.html' with page=posts %}
{% endblock content %}