{% extends "blog/base.html" %}

{% block title %}Search{% endblock title %}

{% block content %}
  {% if "query" in request.GET %}
    <h1>Posts containing "{{ clean_data.query }}"</h1>
    <h3>Found {{ total_results }} result{{ total_results|pluralize }}</h3>

    {% for result in results %}
      {% with post=result.object %}
      <h4><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
      {{ post.body|truncatewords:5 }}
      {% endwith %}
      {% empty %}
      <p>There are no results for your query.</p>
    {% endfor %}

    <p><a href="{% url "blog:post_search" %}">Search again</a></p>
  {% else %}
    <h1>Search for posts</h1>
    <form action="." method="get">
      {{ form.as_p }}
      <input type="submit" value="Search">
    </form>
  {% endif %}

{% endblock content %}