{% extends "blog/base.html" %}

{% block title %}Share post{% endblock title %}

{% block content %}
  {% if sent %}
    <h1>E-mail successfully sent</h1>
    <p>
      "{{ post.title }}" was sent to {{ cd.to }}.
      <a href="{{ post.get_absolute_url }}">Get back</a>
    </p>
  {% else %}
    <h1>Share "{{ post.title }}" by email</h1>
    <form action="." method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <input type="submit" value="Send email">
    </form>
  {% endif %}
{% endblock content %}